$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
 $blue: #4a90e2;
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Roboto-Regular.woff') format('woff'), 
       url('../fonts/Roboto-Regular.ttf')  format('truetype'), 
       url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Roboto-Medium.woff') format('woff'), 
       url('../fonts/Roboto-Medium.ttf')  format('truetype'), 
       url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Roboto-Bold.woff') format('woff'), 
       url('../fonts/Roboto-Bold.ttf')  format('truetype'), 
       url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{
}
/* Space out content a bit */
h1{
  font-family: 'Roboto-Regular';
  font-size: 70px;
  b{
   font-family: 'Roboto-Bold';
    display: block;
  }
}
h2{
  font-size: 70px;
  font-family: 'Roboto-Bold'; 
}
h3{
  font-size: 24px;
  font-family: 'Roboto-Regular';
}
p{
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color:#89969f;
}
.butt{
  font-family: 'Roboto-Medium';
  text-transform: uppercase;
  font-size: 14px;
  width: 268px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  display: inline-block;
  color:white;
  border-radius: 16px;
  transition:0.3s all;
  box-shadow: 0 -3px 17px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  &:hover{
    outline: 0;
    color: white;
    text-decoration: none;
    box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);
    transform:scale(1.001);
  }
  &.butt-1{ 
    background: -webkit-linear-gradient(257deg, #73bdeb, #5f6be3);
    background: -o-linear-gradient(257deg, #73bdeb, #5f6be3);
    background: linear-gradient(347deg, #73bdeb, #5f6be3);
  }
  &.butt-tel{
    padding-left: 50px;
    background: -webkit-linear-gradient(257deg, #37aee2, #1e96c8);
    background: -o-linear-gradient(257deg, #37aee2, #1e96c8);
    background: linear-gradient(347deg, #37aee2, #1e96c8); 
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: 75px;
      top: 15px;
      background: url('../images/telegram.png')no-repeat center;
      background-size: 35px 30px;
      height: 30px;
      width: 35px;
      z-index: 1;
    }
  }
  &.butt-fac{
    padding-left: 50px;
    background: #3c5a99;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: 90px;
      top: 15px;
      width: 15.6px;
      height: 30px;
      background: url('../images/facebook.png')no-repeat center;
      background-size: 15.6px 30px; 
      z-index: 1;
    }
  }
}
 .header{
  padding-top: 277.3px;
  text-align: center;
  &__logo{
    img{
      height: 35px;
    } 
  }
  &__squirrel{
    margin-top: 45px;
    display: flex;
    align-items:center;
    justify-content:center;
    img{ 
      height: 169.2px;
      width: 100px;
    }
  }
  &__text{
    display: flex;
    text-align: center;
    flex-direction:column; 
    justify-content:center;
    align-items:center;
    p{
      margin-top: 25px;
      margin-bottom: 41px;
      max-width: 600px; 
      display: inline-block;
    }
  }
  .butt{
    margin-bottom: 30px;
  }
  &__top{
    position: fixed;
    width: 100%;
    left: 0;
    top: 27.3px;
    z-index: 5;
    pointer-events:none;
  }
 }
 .hiddenOn{ 
  opacity: 0;
  pointer-events:none;
  animation:hiddenOn 1s 1;
 }
 @keyframes hiddenOn{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
 }
 .info-1{
  h2{
    position: relative;
    &:after{
      position: absolute;
      content: '';
      right: 100px;
      top:0px;
      transform:translate3d(0, 100px,0); 
      width: 140px;
      height: 249px;
      transition:2s all;
      background: url('../images/squirrel_3.png');
      background-size: cover; 
    }
    &.up{
      &:after{
      transform:translate3d(0,-50px,0); 
      }
    }
  }
  text-align: center; 
  &__inner{
    display: flex;
    align-items:center;
    justify-content:center;
    position: relative;
    z-index: 1;
    &__img{ 
      position: relative;
      height: 800px;
      width: 800px;
      display: flex; 
      justify-content:center;
      background: url('../images/svg/oval-1.svg')no-repeat;
      background-size: 800px; 
      img{
          width: 375px;
          height: 606px;
          margin-right: 75px;
          object-fit: contain;
          position: relative;
      }
    }
  }
  &__text{
    text-align: center;
    p{
      max-width: 600px;
      display: inline-block;
    }
  }
 }
 .info-2{
  padding-bottom: 190px;
  h2{
    margin-bottom: 25px;
  }
  &__circle{
    margin-top: 50px;
    padding-bottom: 150px;
    display: flex;
    align-items:center;
    justify-content:center;
    position: relative;
    h3{
      margin-top: 12px;
      color:white;
    }
    p{
      font-size: 14px;
      color: white;
      line-height: 1.29;
      overflow: hidden;
      height: 0;
      padding: 0 15px 0 15px;
    }
    &__1{
      position: relative;
      width: 301px;
      height: 452px;
      background: url('../images/svg/oval-half-1.svg');
      background-size:cover;
      transition:0.3s all;
      text-align: center;
      padding-top: 165px;
      img{
        height: 70px;
        width: 70px;
      }
      &:before{
        content: '';
        position: absolute;
        right: 0px;
        top:0;
        width: 1px;
        height: 300px;
        box-shadow: 16px  0px 16px rgba(0, 0, 0, 0.12);
        opacity:0;
      }
      &:hover{
        &::before{
          opacity: 1;
        }
        padding-top: 100px; 
        transform:scale(1.1); 
        z-index: 2;
        p{
          height: 100%;
          animation: opettext 0.3s 1;
        }
      }
    }
    &__2{
      position: relative;
      width: 301px;
      height: 452px;
      background: url('../images/svg/oval-half-2.svg');
      background-size:cover;
      transition:0.3s all;
      text-align: center;
      padding-top: 165px;
      img{
        height: 70px;
        width: 70px;
      }
      &:before{
        content: '';
        position: absolute;
        left: 0px;
        top:0;
        width: 1px;
        height: 300px;
        box-shadow: -16px  0px 16px rgba(0, 0, 0, 0.12);
        opacity:0;
      }
      &:hover{
        &::before{
          opacity: 1;
        }
        padding-top: 100px; 
        transform:scale(1.1); 
        z-index: 2;
        p{
          height: 100%;
          animation: opettext 0.3s 1;
        }
      }
    }
    &__3{
      width: 518.1px;
      height: 300px;
      background: url('../images/svg/oval-half-3.svg');
      background-size:cover;
      position: absolute;
      top: 301px;
      transition:0.3s all;
      text-align: center;
      padding-top: 110px;
      z-index: 1;
      img{
        height: 70px;
        width: 70px;
      }
      &:hover{
        padding-top: 70px; 
        transform:scale(1.1); 
        z-index: 2;
        p{
          height: 100%;
          animation: opettext 0.3s 1;
          padding: 0 35px;
        }
      }
    }
  }
 }
 @keyframes opettext{
  0%{
    height: 0%
  }
  100%{
    height: 100%;
  }
 }
 .info-3{
  text-align: center;
  p{
    max-width: 600px;
    display: inline-block;
  }
  &__img{
    margin-top: 22px;
    img{
      width: 398.5px;
      height: 300px;
      object-fit: contain;
    }
  }
  &__registr-info{
    margin-top: 30px;
    text-align: center;
    h4{
      font-family: 'Roboto-Bold';
      font-size: 30px;
      color:$blue;
      margin-bottom: 15px;
    }
    p{
      color: $blue;
      font-size: 'Roboto-Regular';
      font-size: 18px;
      font-size: 1.56;
    }
  }
  .butt{
    margin-top: 40px;
  }
 }
 .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background: $blue;
 }
 .info-4{
  margin-top: 260px;
  text-align: center;
  h3{
    margin-bottom: 30px;
  }
  p{
    display: inline-block;
    max-width: 600px;
  }
  &__img{
    img{
      width: 607px;
      height: 482px;
    }
    margin-bottom: 100px;
  }
 }
 .info-5{
  padding: 135px 0 85px;
  background: $blue;
  text-align: center;
  &__inner{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  h2{
    margin-top: 0;
    margin-bottom: 25px;
    color:white;
  }
  p{
    color:white;
    max-width: 600px; 
    margin-bottom: 25px;
  }
  &__form{
    position: relative;
    z-index: 1;
    background: white;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.1);
    width: 400px; 
    form{
      padding: 55px 60px 30px;
      text-align: left;
      h5{
        font-size: 24px;
        line-height: 1;
        font-family: 'Roboto-Bold';
        margin-bottom: 45px;
      } 
    }
    &__email{
      width: 100%;
      font-family: 'Roboto-Regular';
      font-size: 16px;
      color: black; 
      padding: 11px 0;
      border: 0;
      margin-bottom: 39px;
      border-bottom: 1px solid #d7e2ea; 
      &:focus{
        outline: 0;
        border-bottom: 1px solid #d7e2ea +30;
      }
    }
    &__soc{
      display: flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
      border-radius:  0 0 16px 16px;
      padding-top: 25px;
      background:#f8f9fa;
      padding-bottom: 55px;
      &__butt{
        display: flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
      }
      span{
        font-size: 12px;
        font-family: 'Roboto-Regular';
        color: #89969f;
        margin-bottom: 22px;
      }
      .butt{
        margin-bottom: 20px;
      }
    }
  }
 }
 .info-6{
  padding-top: 100px;
  text-align: center;
  padding-bottom: 300px;
  h2.span{ 
    margin-top: 30px;
    font-size: 40px;
    line-height: 1.75px;
    font-family: 'Roboto-Regular';
    font-weight: normal;
    margin-bottom: 85px;
  }
  &__img{
    img{
      width: 100px;
      height: 177.9px;
      object-fit: contain;
    }
  }
  &__email{
    color: $blue;
    font-family: 'Roboto-Bold';
    font-size: 24px;
    &:hover{
      color:$blue;
    }
  }
  span{
    font-size: 10px;
    letter-spacing:0.2px;
    color: #89969f;
    display: block;
    margin-bottom: 70px;
  }
  &__soc{
    width: 200px;
    display: inline-block;
    &__inner{
      display: flex;
      justify-content:space-between;
      img{
        height: 70px;
        width: 70px;
        transition:0.3s all;
        &:hover{ 
          transform: scale(1.05);
        }
      }
    }
  }
 }
 .bck{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url('../images/bcg.png')no-repeat center;
  background-size: cover;
  pointer-events:none;
 }
 .copy{
  position: fixed;
  left: 145px;
  bottom: 25px;
  font-size: 12px;
  font-family: 'Roboto-Regular';
  color: #3c3c3c;
  pointer-events:none; 
  opacity: 0.5;
 }
 .textUp{
    opacity: 0;
 }
 .blockUp{
  transition:2s all;
  transform:translate3d(0,150px,0);
  &.active{
  transform:translate3d(0,0px,0);
  }
 }
 .upHide{
  transition:2s all;
    opacity: 1;
  &.active{ 
    transform:translate3d(0,-250px,0);
    opacity: 0;
 }
}
@media screen and (max-width: 992px){
  .info-1{
    .container{
      width: 100%;
    }
    &__inner{
      &__img{
        background-position: center;
      }
    }
  }
  .info-1 h2:after{
    right: 5px;
  }
}
@media screen and (max-width: 772px){ 
  .info-2__circle__1{
    width: 150px;
    height: 225.9px;
    padding-top: 90px;
    &:hover{
      padding-top: 40px;
    }
    h3{
      font-size: 12px;
      margin-bottom: 5px;
      margin-top: 10px;
    }
    p{
      font-size: 8px;
      line-height: 1.5;
    }
    img{
      max-width: 30px;
      max-height: 30px;
    }
  }
  .info-2__circle__2{
    width: 150px;
    height: 225.9px;
    padding-top: 90px;
    &:hover{
      padding-top: 40px;
    }
    h3{
      font-size: 12px;
      margin-bottom: 5px;
      margin-top: 10px;
    }
    p{
      font-size: 8px;
      line-height: 1.5;
    }
    img{
      max-width: 30px;
      max-height: 30px;
    }
  }
  .info-2__circle__3{
    width: 259.1px;
    height: 150px;
    top: 150px;
    padding-top: 50px;
    &:hover{
      padding-top: 20px;
    }
    h3{
      margin-bottom: 5px;
      font-size: 12px;
      margin-top: 10px;
    }
    p{
      font-size: 8px;
      line-height: 1.5;
    }
    img{
      max-width: 30px;
      max-height: 30px;
    }
  }
  h1,h2{
    font-size: 30px;
  }
  p{
    font-size: 12px;
    line-height: 1.5;
    padding-left: 15px;
    padding-right: 15px;
    br{
      display: none;
    }
  }
  .header{
    padding-top: 225px;
    &__top{
      top: 15px;
    }
    &__squirrel img{
      width: 60px;
      height: 101.5px;
    }
  }
  .info-1__inner__img{
    width: 100%;
    height: 400px;
    background-size: 400px;
    img{
       width: 187.5px;
        height: 303px;
        margin-right: 35px;
    }
  }
  .info-1 h2:after{
    width: 50px;
    height: 106.7px;
  }
  .info-1 h2.up:after{
    transform:translate3d(0, 100px, 0);
  }
  .info-2{
    padding-bottom: 45px;
  }
  .owl-carousel .owl-item img{
    width: 240px;
  height: 180.7px;
  display: inline-block;
  }
  .info-3__registr-info h4{
    font-size: 16px;
  }
  .info-3__registr-info p{
    font-size: 12px;
  }
  .owl-theme .owl-dots .owl-dot span{
    height: 5px;
    width: 5px;
  }
  .info-4{
    margin-top: 100px;
  }
  .info-4__img img{
     width: 260px;
     height: 219.9px;
  }

   .info-5{
      padding-top: 70px;
      &__form{
        width: 280px;
        form{
          padding: 22px 30px;
          h5{
            font-size: 16px;
            margin-bottom: 35px;
          }
          .butt.butt-1{
            width: 100%;
            height: 48px;
            line-height: 48px;
          }
        }
      }
   }
   .info-5__form__soc .butt{
      height: 48px;
      width: 48px;
   }
   .butt.butt-tel:before{
    left: 5px;
    top:8px;
    background-size: 27.6px 23.9px;
   }
   .butt.butt-fac:before{
    left:17px;
    top:9px;
    background-size: 12.5px 24px;
   }
   .info-5__form__email{
    margin-bottom: 20px;
   }
   .info-5__form__soc__butt{
    flex-direction:row;
    justify-content:space-between;
    width: 100%;
    padding: 0 75px;
   }  
  .butt{
    height: 48px;
    line-height: 48px;  
  }
  .info-5__form__soc{
    padding-top: 14px;
    padding-bottom: 20px;
    span{
      margin-bottom: 10px;
    }
  }
  .info-6{
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .info-6__img img{
    width: 60px;
    height: 106.7px;
  }
  .info-6 h2.span{
    font-size: 20px;
    margin-bottom: 25px;
  }
  .info-6 span{
    margin-bottom: 50px;
  }
  .copy{
    display: none;
  }
}