$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf')  format('truetype'),
  url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Medium.woff') format('woff'),
  url('../fonts/Roboto-Medium.ttf')  format('truetype'),
  url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Bold.woff') format('woff'),
  url('../fonts/Roboto-Bold.ttf')  format('truetype'),
  url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Black.woff') format('woff'),
  url('../fonts/Roboto-Black.ttf')  format('truetype'),
  url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

$warm_blue: #5f6be3;
$blue: #4a90e2;
$brow: #4a4a4a;
*{
  font-family: 'Roboto-Regular';
}
html,body{
  margin: 0;
  padding: 0;
}
body{
  background: url("../images/bcg.png");
}
h1{
  font-size: 37px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0;
  b{
    font-family: 'Roboto-Black';
    font-size: 46px;
    line-height: 53px;
    letter-spacing: 0px;
    color: $warm_blue;
    font-weight: normal;
  }
}
h2{
  font-size: 46px;
  letter-spacing: 1.2px;
  color:$warm_blue;
  font-family: 'Roboto-Black';
  text-transform: uppercase;
}
h4{
  font-size: 20px;
  font-family: 'Roboto-Medium';
}

p{
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.butt{
  font-family: 'Roboto-Medium';
  text-transform: uppercase;
  font-size: 14px;
  width: 268px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  display: inline-block;
  color:white;
  border-radius: 16px;
  transition:0.3s all;
  box-shadow: 0 -3px 17px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  &:hover{
    outline: 0;
    color: white;
    text-decoration: none;
    box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);
    transform:scale(1.001);
  }
  &.butt-1{
    background: -webkit-linear-gradient(257deg, #73bdeb, #5f6be3);
    background: -o-linear-gradient(257deg, #73bdeb, #5f6be3);
    background: linear-gradient(347deg, #73bdeb, #5f6be3);
  }
  &__white{
    background: white;
    color: $warm_blue;
    &:hover{
      color: $warm_blue;
    }
  }
}
.mouse-scroll{
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__block{
    width: 22px;
    height: 32px;
    border:2px solid $brow;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__wheel{
    height: 3px;
    width: 3px;
    background: $brow;
    animation: mousescroll 2s infinite;
  }
}
@keyframes mousescroll {
  0%{
    opacity: 0;
    transform: translate3d(0,-10px,0);
  }
  20%{
    opacity: 1;
    height: 4px;
  }
  80%{
    transform: translate3d(0,5px,0);
    width: 3px;
  }
  100%{
    opacity: 0;
  }
}
.header{
  height: 100%;
  &__logo{
    text-align: center;
    margin-top: 42px;
    img{
      max-width: 210px;
    }
  }
  &__info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    &__slider{
      height: 630px;
      width: 630px;
      background: url("../images/svg/oval-1.svg");
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      .tell-slider{
        height: 520px;
        width: 258px;
        position: relative;
        background: url("../images/phone.png")no-repeat center;
        &:before{
          content: '';
          pointer-events: none;
          position: absolute;
          background: url("../images/phone.png")no-repeat center;
          background-size: cover;
          height: 570px;
          width: 300px;
          left: -21px;
          top: -25px;
          z-index: 100;
        }
        .item{
          height: 492px;
          width: 258px;
          background: white;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        &.owl-carousel .owl-stage-outer{
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          border-radius: 25px;
        }
      }
    }
    &__text{
      max-width: 450px;
      margin-left: 85px;
      text-align: left;
      .butt{
        margin-top: 40px;
      }
    }
  }
}
.info-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  &__top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
    h2{
      margin-bottom: 25px;
      text-align: center;
    }
    p{
      max-width: 450px;
      text-align: center;
    }
    &__circle{
      padding-top: 145px;
      display: flex;
      align-items:center;
      justify-content:center;
      position: relative;
      margin-bottom: 40px;
      h3{
        position: relative;
        z-index: 1;
        margin-top: 12px;
        color:white;
      }
      p{
        font-size: 14px;
        color: white;
        line-height: 1.29;
        overflow: hidden;
        height: 0;
      }
      &__1{
        position: relative;
        width: 290px;
        height: 439px;
        //background: url('../images/svg/oval-half-1.svg');
        background-size:cover;
        transition:0.3s all;
        text-align: center;
        padding-top: 165px;
        left: 2px;
        overflow: hidden;
        &:after{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          background: url('../images/svg/oval-half-2.svg');
          background-size:cover;
          transform: rotate(180deg);
        }
        img{
          height: 70px;
          width: 70px;
          position: relative;
          z-index: 1;
        }
        &:before{
          content: '';
          position: absolute;
          right: 0px;
          top:0;
          width: 1px;
          height: 300px;
          box-shadow: 16px  0px 16px rgba(0, 0, 0, 0.12);
          opacity:0;
        }
        &.active{
          &::before{
            opacity: 1;
          }
          padding-top: 100px;
          transform:scale(1.1);
          z-index: 2;
          p{
            position: relative;
            z-index: 1;
            height: 100%;
            animation: opettext 0.3s 1;
            padding: 0 20px 0 50px;
          }
        }
      }
      &__2{
        position: relative;
        width: 290px;
        height: 439px;
        //background: url('../images/svg/oval-half-2.svg');
        background-size:cover;
        transition:0.3s all;
        text-align: center;
        padding-top: 165px;
        overflow: hidden;
        &:after{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          background: url('../images/svg/oval-half-1.svg');
          background-size:cover;
          transform: rotate(180deg);
        }
        img{
          height: 70px;
          width: 70px;
          position: relative;
          z-index: 1;
        }
        &:before{
          content: '';
          position: absolute;
          left: 0px;
          top:0;
          width: 1px;
          height: 300px;
          box-shadow: -16px  0px 16px rgba(0, 0, 0, 0.12);
          opacity:0;
        }
        &.active {
          &::before{
            opacity: 1;
          }
          padding-top: 100px;
          transform:scale(1.1);
          z-index: 2;
          p{
            position: relative;
            z-index: 1;
            height: 100%;
            animation: opettext 0.3s 1;
            padding: 0 50px 0 20px;
          }
        }
      }
      &__3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 502px;
        height: 291px;
        background-size:cover;
        position: absolute;
        top: 0px;
        transition:0.3s all;
        text-align: center;
        padding-top: 80px;
        z-index: 1;
        overflow: hidden;
        &:after{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          background: url('../images/svg/oval-half-3.svg');
          background-size:cover;
          transform: rotate(180deg);
        }
        img{
          height: 70px;
          width: 70px;
          position: relative;
          z-index: 1;
        }
        p{
          height: 0;
        }
        &.active {
          padding-top: 20px;
          transform:scale(1.1);
          z-index: 2;
          p{
            height: 100%;
            animation: opettext 0.3s 1;
            padding: 0 40px;
            position: relative;
            z-index: 1;
          }
        }
      }
    }
}
.info-2{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left,#a2abf0, #b482d3);
  &__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h2{
    color: white;
    text-align: center;
  }
  p{
    text-align: center;
    color: white;
  }
  &__slider{
    text-align: center;
    .butt{
      margin-bottom: 40px;
    }
    &__but{
      margin-top: 40px;
      display: flex;
      justify-content: center;
      padding: 0;
      margin-bottom: 50px;
      li{
        display: inline-block;
        a{
          width: 120px;
          display: inline-block;
          text-align: center;
          height:40px;
          border: 1px solid white;
          line-height: 40px;
          color: #ab95e0;
          background: white;
          transition: 0.2s all;
          &:focus,
          &:hover{
            color: white;
            background: transparent;
            text-decoration: none;
          }
        }
        &:first-child{
          a{
            border-radius: 15px 0 0 15px;
          }
        }
        &:last-child{
          a{
            border-radius:  0 15px 15px 0;
          }
        }
      }
    }
    .slider-2{
      &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
          max-width: 300px;
          max-height: 300px;
          object-fit: contain;
          margin-bottom: 25px;
        }
        h4{
          color: white;
          font-weight: normal;
        }
        p{
          font-size: 12px;
          color: white;
          line-height: 1.2;
        }
      }
    }
  }
}
.info-3{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2{
    text-align: center;
    margin-bottom: 15px;
  }
  p{
    max-width: 600px;
    text-align: center;
    margin-bottom: 25px;
  }
  &__list{
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    li{
      display: block;
      margin: 0 -1px;
      img{
        width: 180px;
      }
    }
    &__center{
      margin: 0 -25px !important;
      img{
        width: 230px !important;
      }
    }
  }
}
.info-4{
  height: 100%;
  background: linear-gradient(to bottom, #5f6be3, #73bdeb);
  display: flex;
  align-items: center;
  &__logo{
    margin-bottom: 40px;
  }
  &__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__form{
      position: relative;
      height: 54px;
      width: 470px;
      input[type='text']{
        height: 100%;
        width: 100%;
        border-radius: 15px;
        background: white;
        border: 0;
        padding: 0 140px 0 15px;
      }
      .butt{
        background: #4a90e2;
        width: 132px;
        height: 50px;
        line-height: 50px;
        position: absolute;
        right: 2px;
        top:2px;
        border-radius: 15px;
      }
      margin-bottom: 32px;
    }
    .span{
      font-size: 16px;
      color: #224686;
      margin-bottom: 25px;
    }
    .email{
      color: white;
      font-size: 24px;
      margin-bottom: 30px;
    }
    &__soc{
      padding: 0;
      display: flex;
      width: 150px;
      justify-content: space-between;
      li{
        display: inline-block;
        a{
          img{
            max-width: 40px;
            max-height: 40px;
          }
        }
      }
    }
  }
  h2{
    color: white;
    text-align: center;
  }
  p{
    color: white;
    text-align: center;
    max-width: 600px;
    margin-bottom: 30px;
  }
}
.copy{
  margin-top: 30px;
  font-size: 12px;
  color: white;
}
@media screen and (max-height: 870px){
  .info-2__slider__but{
    margin: 25px 35px;
  }
  .info-1 h2{
    margin-bottom: 15px;
    margin-top: 0;
  }
  .info-1 p{
    line-height: 18px;
  }
  .info-1__top{
    margin-bottom: 10px;
  }
  .info-1__circle{
    margin-bottom: 20px;
  }
}
@media screen and (max-height: 800px){
  .header__info__slider{
    height: 600px;
    width: 600px;
  }
  .info-1 h2{
    font-size: 36px;
  }
  .info-1 p{
    font-size: 14px;
  }
  .info-1__circle__1{
    width: 265px;
    height: 399px;
  }
  .info-1__circle__2{
    width: 265px;
    height: 399px;
  }
  .info-1__circle__3{
    width: 456px;
    height: 263px;
    padding-top: 30px;
  }
  .info-1__circle{
    padding-top: 131px;
  }
  .info-1__circle__1.active p,
  .info-1__circle__2.active p,
  .info-1__circle__3.active p{
    line-height: 1.2;
    font-size: 12px;
  }
  .info-1__circle h3{
    margin-top: 0;
  }
  .info-2 p{
    line-height: 18px;
  }
  .info-2__slider .slider-2__item img{
    max-height: 260px;
    max-width: 260px;
  }
  .info-4__logo{
    margin-bottom: 20px;
  }
  .mouse-scroll{
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .header__info{
    justify-content: flex-start;
    padding-left: 70px;
  }
  .header__info__slider {
    height: 450px;
    width: 450px;
  }
  h1{
    font-size: 31px;
    b{
      font-size: 41px;
      line-height: 38px;
    }
  }
  .header__info__text{
    margin-left: 30px;
  }
  .header__info__slider{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .info-3__list li img{
    width: 125px;
  }
  .info-3__list__center img{
    width: 170px !important;
  }
  .info-4__logo{
    img{
      width: 250px;
    }
    margin-bottom: 0;
  }
  h2{
    font-size: 38px;
  }
  p{
    font-size: 14px;
  }
  .info-4__inner__form{
    height: 48px;
  }
  .info-4__inner__form .butt{
    height: 44px;
    line-height: 44px;
  }
  .butt{
    height: 52px;
    line-height: 52px;
  }
}
@media screen and (max-width: 1000px){
  .header__info{
    padding-left: 30px;
  }
  h1{
    font-size: 28px;
  }
}
@media screen and (max-width: 660px){
  
}